
.about-content{
  padding: 40px 0px;
  font-family:Arial, Helvetica, sans-serif;  
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content:space-between;
  letter-spacing:2px;
  background-color:rgb(228, 226, 226);
}
.about-txt{
  line-height:32px;
  font-size:16px;
  max-width:800px;
  margin-left: 30px ;
}
.about-txt-gapped{
  margin-left: 30px;
  line-height:32px;
  max-width:800px;
  font-size:16px;
  margin-bottom: 30px;
}
h2{
  margin-left: 30px;
}
.bar{
  display:none;
  top:120px;
  padding-bottom: 1750px;
  position:absolute;
  width:300px;
  height:30px;
  background-color:#22242e ;
}
.bar-left{
  left: 20px;
}
.bar-right{
  right:20px;
}
.title{
  margin-left: 20px;
  font-size:35px;
}
@media screen and (min-width: 768px) {
  .about-content {
    padding: 40px;
  }

  .about-txt,
  .about-txt-gapped {
    font-size: 19px;
  }

  .bar {
    display: block; /* Show the bars on larger screens */
  }
  .about-txt,
  .about-txt-gapped,
  h2{
    margin-left: 0;
  }
}