
nav{
  color:white;
  background-color:#282D35; 
  width:100vw;
  height:65px;
}
.nav-wrapper{
  width: 100%;
  max-width: 1899px;
  padding:5px 20px;
  display:flex;
  align-items: center;
  justify-content:space-between;
}
.left-section{
  flex:1;
  display:flex;
  align-items: center;
  justify-content:space-between;
}
.orders-btn{
  background-color:transparent;
  cursor:pointer;
  border:none;
  margin-left:20px;
  padding:10px;
  font-size:18px;
  font-weight:bold;
  color:white;
  letter-spacing:1.5px;
  transition:0.2s;
  white-space:nowrap;
}
.orders-btn:after{
  content:'';
  display:block;
  position:absolute;
  width: 0%;
  height:2px;
  background-color:#61DAFB;
  transition:0.2s;
}
.orders-btn:hover:after{
  width: 6%;
}
.orders-btn:hover{
  white-space:nowrap;
  letter-spacing:3px;
  opacity:0.6;
}
.fav:hover:after{
  width:6.2%;
}
.middle-section{
  flex:1;
  display:flex;
  justify-content:center;
  align-items:center;
  letter-spacing: 2px;
}
.right-section{
  flex:1;
  display:flex;
  justify-content: flex-end;
}
.right-section ul{
  display:flex;
  list-style-type:none;
  gap:25px;
  font-size:1.188rem;
  margin-right:30px;
}
.nav-lnk {
  letter-spacing: 2px;
  text-decoration: none;
  color:white;
  cursor: pointer;
  transition: 0.2s;
}
.right-section ul li:hover{
  opacity:0.6;
}
.hovered{
  opacity:0.6
}

.home:after{
  content:"";
  display:block;
  height:2px;
  width:0;
  background-color:#61DAFB;
  transition: 0.3s;
}
.home:hover:after{
  width:100%;
}
.products:after{
  content:"";
  display:block;
  height:2px;
  width:0;
  background-color:#61DAFB;
  transition: 0.3s;
}
.products:hover:after{
  width:100%;
}
.about:after{
  content:"";
  display:block;
  height:2px;
  width:0;
  background-color:#61DAFB  ;
  transition: 0.3s;
}
.about:hover:after{
  width:100%;
}
.search-container{
  border-radius:10px;
  background-color:white;
  width: 35%;
  border:0.5px solid lightgray;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin-bottom:10px;
}
.search-container input{
  padding:5px;
  margin-right: 5px;
  box-sizing:border-box;
  border:none;
}
.search-container input:focus{
  outline:none;
}
.search-icon{
  font-size:15px;
  color:gray;
  cursor:pointer;
}
.middle-section span{
  font-size:33px;
  letter-spacing: 4px;
  font-weight:bold;
  background-color:transparent;
}
.fa-cart-shopping{
  cursor:pointer;
  margin-top:17px;
  color:white;
  font-size:33px;
  transition:0.2s;
}
.fa-cart-shopping:hover{
  opacity:0.6
}

.cart-container{
  position:relative
}
.cart-count{
  pointer-events:none;
  color:red;
  position:absolute;
  font-size:24px;
  top:-6px;
  left:13px;
}
.right-section button{
  font-family: 'Montserrat', sans-serif;
  cursor:pointer;
  border:none;
  margin-left:20px;
  padding:10px;
  font-size:1.125rem;
  font-weight:bold;
  background-color:transparent;
  color:white;
  letter-spacing:1.5px;
  transition:0.2s;
  white-space:nowrap;
}
.right-section button:hover{
  white-space:nowrap;
  letter-spacing:3px;
  opacity:0.6;
}
.signin{
  text-decoration: none;
  display: flex;
}
.login{
  text-decoration: none;
  display: flex;
}
.middle-section div{
  margin-bottom:10px;
}
.active{
  opacity:0.5;
  letter-spacing:2px;
}
.active:after{
  width:100%;
}


@media only screen and (max-width:380px){
  nav{
    height:50px;
  }
  .wrapper{
    padding: 10px 0px;
  }
  .search-container input{
    width: 50px;
  }
  .middle-section span{
    font-size:20px;
  }
}
